.app_dark_theme {
	--bg-color: #47006c;
	--inverted-bg-color: #ff76b9;
	--primary-color: #fff;
	--secondary-color: #c9c9c9;
	--inverted-primary-color: #000;
	--inverted-secondary-color: #3a3a3a;

	// skeleton
	--skeleton-color: #000;
	--skeleton-shadow: #3a3a3a;
	--code-bg-color: #9755ef;
}
