.Navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
}

.links,
.actions {
	margin-left: auto; // марджин может быть авто
}

.mainLink {
	margin-right: 15px;
}

.createBtn {

}

.appName {
	width: var(--sidebar-width);
	margin-left: 15px;
}

.notifications {
	min-height: 150px;
	max-height: 300px;
	min-width: 500px; // todo почему работает min-width но не width?
	overflow-y: auto;
}
